NEXT_PUBLIC_CONTRACT_ADDRESS=0x692cb9D71acC57C07a72D173aa8a0CDaEc41b6b7
NEXT_PUBLIC_GENLAYER_RPC_URL=https://studio.genlayer.com/api
NEXT_PUBLIC_GENLAYER_CHAIN_ID=61999
NEXT_PUBLIC_GENLAYER_CHAIN_NAME=GenLayer Studio
